*{
	margin: 0;
	padding: 0;
}
head, body{
	width: 100%;
	height: 100%;
}
		/*Header style*/

header{
	width: 100%;
	height: 50px;
	box-shadow: -3px 2px 20px 0px;;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: relative;
}
header img, header .data>ul>li>ul>li, header span{
	cursor: pointer;
}
header nav{
	display: flex;
	justify-content: space-around;
	width: 50%;
	height: 100%;
}
header ul{
	display: flex;
	list-style: none;
	width: 100%;
	justify-content: space-around;
	height: 100%;
}
#logo{
	position: absolute;
	left: 5%;
	height: 100%;
}

header>nav>ul>li{
	display: flex;
    align-content: center;
    flex-wrap: wrap;
}


.data{
	width: 100%;
	background-color: darkblue;
    background-image: url("../images/background-image_menu.jpg");
    background-size: cover;
  	background-position: left center;
    position: absolute;
    height: auto;
    left: 0;
    top: 50px;
	display: none;
	max-height: 200px;
	overflow-y: auto;
	z-index: 5;
}
.data>ul{
	display: flex;
    align-content: center;
    flex-wrap: wrap;
}
header span{
	width: 25px;
	height: 25px;
	display: inline-block;
	background-size: 100%;
}
header div{
	height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 26%;
}
header div input{
	height: 30px;
}
header div img{
	width: 30%;
    min-width: 22px;
    max-width: 33px;
}

.data ul li ul {
    display: flex;
    flex-direction: column;
}
.data ul li ul li{
	margin-top: 10px;
}
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

					/*main styles :)*/

#main_section{
	width: 100%;
	background-color: gray;
}
#main_section>img{
 	width: 100%;
}

#rec{
	display: flex;
    flex-wrap: wrap;
}
article{
	width: calc(100%/5);
    margin: 0 16px 44px;
    position: relative;
    margin: 20px;
    min-width: 181px;
	border-radius: 14px;
    overflow: hidden;
	box-shadow: 2px 6px 10px 0px;
	height: max-content;
}
article div img{
	display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    touch-action: pan-y;
    -ms-touch-action: pan-y;
    -webkit-touch-callout: none;
    user-select: none;
}
article button{
	background-color: #6351ce;
    border: 2px solid #6351ce;
    border-radius: 10px;
}
.price{
	display: block;
	font-size: 25px;
}
.name_autor{
	display: block;
}
#find{
	display: none;
}
form{
	display: none;
}
#search{
    position: absolute;
    padding-left: 10px;
    border-radius: 30px;
}
*{
    margin: 0;
    padding: 0;
}
.rate_div{
	display: flex;
    height: 3rem;
	position: relative;
	width: 100%;
	flex-wrap: wrap;
}
.rate {
    height: 46px;
    padding: 0 10px;
}
.rate {
    width:auto;
    overflow:hidden;
    /* white-space:nowrap; */
    cursor:pointer;
    font-size: clamp(1rem, 4vw, 2.5rem);
    color: #deb217;
}
.about p{
	/* word-wrap: break-word; */
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

					/* footer style */
footer{
	position: relative;
	z-index: 2;
}